$background: url('../../assets/auth/auth_bg.png');
@use '../../data/styles/animations' as a;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $background no-repeat center / cover;
      justify-content: center;

  .leftPanel {
    display: flex;
    
    box-sizing: border-box;
    flex-direction: column;
    width: 530px;
    height: 470px;
    gap: 12px;

  }
}
