@use '../../../data/styles/pages/authorization.colors' as c;
@use '../../../data/styles/fonts' as f;
@use '../../../data/styles/animations' as a;


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    justify-content: center;
    gap: 15px;

    .title {
        display: flex;
        padding: 7px 14px;
        background-color: c.$shadow-title;

        font-family: f.$main;
        font-size: 18px;
        font-weight: 900;
    }

    .languages {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        justify-content: center;
    }
}
